.body {
    font-family: "Monument Extended", "Arial", sans-serif;
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

.main {
    background: #fff;
}

/*====================*/

.header1 {
    background: #fff;
    padding: 29px 0 29px 0;
}

.header1__inner {
    margin-left: 655px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 464px;
    font-size: 12px;
    line-height: 2.13;
    letter-spacing: 0.07em;
    color: #000;
}

.navi {
    z-index: 4;
}

.navi__mob {
display: block !important;
}

.nav__mobile {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    }

    .nav__mobile span {
        display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #040404;
    position: relative;
    }

    .nav__mobile span::before,
    .nav__mobile span::after {
        content: '';
        display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #040404;
    position: absolute;
    }

    .nav__mobile span::before {
        top: -8px;
    }
    
    .nav__mobile span::after {
        bottom: -8px;
    }

.navi__list {
    display: flex;
    gap: 41px;
}

.navi__first {
    font-weight: 800;
}

.navi__link {
    display: block;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*===================*/

.header2 {
    height: 854px;
    background: linear-gradient(209deg, #de343d 0%, #ffb800 100%);
}

.header2__inner {
    height: auto;
    position: relative;
}

.header2__max {
    position: absolute;
    top: 230px;
    left: -70px;
}

.header2__krug-box {
    z-index: 2;
    position: absolute;
    top: 350px;
    left: 32px;
}

.header2__krug-spisok {
    display: flex;
    flex-direction: column;
    gap: 42px;
}


.header2__krug {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all 0.4s;
}

.header2__krug-active {
    background-color: #fff;
}

.header2__krug-active::after {
    content: '';
    display: block;
    position: relative;
    top: 8px;
    left: 17px;
    width: 50px;
    height: 1px;
    background-color: #fff;
    transition: all 0.4s;
}

.header2__setka {
    position: absolute;
    top: 30px;
    left: 509px;
    z-index: 2;
}

.header2__kros {
    position: absolute;
    top: 50%;
    left: 509px;
    z-index: 3;
}

.header2__button {
    position: absolute;
    top: 710px;
    left: 1517px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 65px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 20px;
    line-height: 2.5;
}

/*============================*/

.section1 {
    padding: 84px 95px 154px 96px;
}



.section1__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
    position: relative;
}

.button__left {
    position: absolute;
    top: 285px;
    left: -29px;
    background: transparent;
    z-index: 3;
}

.button__right {
    position: absolute;
    top: 285px;
    right: 1vw;
    background: transparent;
    z-index: 3;
}

.section1__text {
    color: #de343d;
    font-size: 37px;
    line-height: 40px;
}

.section1__filters {
    display: flex;
    gap: 30px;
}

.section1__sumbit-button {
    color: #808080;
    background: transparent;
    padding: 5px 20px 5px 20px;
    border: 1.26px solid #dedede;
    grid-column: -1/1;
}

.section1__sort {
    position: relative;
    display: inline-block;
}

.section1__button {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 1.26px;
    color: #808080;
    background: transparent;
    border: 1.26px solid #dedede;
    padding: 5px 20px 5px 50px;
    position: relative;
}

.section1__spisok-sort {
    display: none;
    position: absolute;
    z-index: 2;
    color: #808080;
    background-color: #fff;
}

.section1__spisok-sort--show {
    display: block;
}

.section1__li-sort {
    width: 170px;
    padding: 2px;
    border: 1px solid #dedede;
    margin-bottom: 2px;
    cursor: pointer;
}

.section1__li-sort :last-child {
    margin-bottom: 0;
}

.section1__filters-content {
    position: relative;
    display: inline-block;
    max-width: 157px;
}

.section1__filters-vibor {
    position: absolute;
    left: -150px;
    min-width: 307px;
    border: 1px solid #dedede;
    color: #808080;
    padding: 10px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    z-index: 2;
    background-color: #fff;
}

.section1__filters-vibor--active {
    display: grid;
}

.field__input {
    display: block;
    border: 1px solid #dedede;
    padding: 5px;
}

.button1::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    background-image: url('../img/svg/filters.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 20px;
    top: 13px;
    width: 25px;
    height: 25px;
}

.button2::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    background-image: url('../img/svg/sort.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 20px;
    top: 13px;
    width: 25px;
    height: 25px;
}

.section1__kros {
    margin-bottom: 70px;
}

.kros__slide-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.kros__slide {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.slide__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 377px;
    max-width: 402px;
    background: #f9f9f9;
}

.slide__top img {
    width: 100%;
}


.slide__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 402px;
    max-height: 189px;
    gap: 6px;
}

.title1 {
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.07em;
    color: #9c9c9c;
}

.title2 {
    font-size: 25px;
    line-height: 1.4;
    color: #040404;
}

.price {
    font-size: 20px;
    line-height: 1.4;
    color: #040404;
}

.size {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.08em;
    color: #de343d;
}

.section1__bottom {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.section1__see {
    display: block;
    border: 1px solid #dedede;
    padding: 6px 25px;
    font-size: 20px;
    line-height: 2.55727;
    letter-spacing: 0.08em;
    color: #808080;
}

/*===========================*/

.section2__top {
    height: 739px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px;
    padding: 0 65px 167px 50px;
    margin-bottom: 167px;
}


.section2__notjust img {
    width: 100%;
}

.section2__logos {
    margin-left: 150px;
    margin-right: 250px;
}

.section2__logos img {
    width: 100%;
}

.section2__bottom {
    max-height: 940px;
    display: flex;
    flex-direction: column;
}

.section2__bottom-img1 img {
    width: 100%;
}

.section2__bottom-img2 img {
    width: 100%;
}

/*===========================*/

.section3__inner {
    padding: 87px 0 398px 0;
}

.section3__filt {
    max-width: 1323px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 298px 93px 298px;
}

.sort {
    display: flex;
}

.column,
.grid {
    padding: 12px;
    border: 1px solid #dedede;
}

.column:hover,
.grid:hover {
    background-color: #f1eeee;
}

.section3__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 92px 40px;
    margin: 0 190px;
    transition: all 0.4s;
}

.section3__bottom {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.section3__see {
    border: 1px solid #000;
    padding: 6px 25px;
    font-size: 20px;
    line-height: 2.55727;
    letter-spacing: 0.08em;
    color: #040404;
    background: transparent;
}

.section3__grid-column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 0 90px;
    transition: all 0.4s;
}

.kros__slide-row {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    transition: all 0.4s;
}



.kros__slide--pr {
    opacity: 0.4;
}

.kros__slide--none {
    display: none;
}

.section3__bottom--h {
    display: none;
}


/*============================*/

.footer {
    background: #F9F9F9;
}

.footer__inner {
    padding: 108px 146px 108px 30px;
    display: flex;
    justify-content: flex-end;
}

.footer__content {
    display: grid;
    grid-template-columns: 1.3fr 1.4fr 1fr;
    grid-template-rows: auto auto;
    gap: 47px 8px;
}

.footer__text {
    font-weight: 800;
    font-size: 21px;
    line-height: 1.245;
    color: #de343d;
}

.footer__about {
    margin-bottom: 17px;
}

.footer__ssilka {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.245;
    color: #de343d;
}

/*============================*/

@media (max-width: 1920px) {
    .header1__inner {
        margin-left: 24vw;
        gap: 24vw;
    }

    .header2__max {
        height: 14vw;
        width: auto;
    }

    .header2__setka {
        left: 26vw;
    }

    .header2__kros {
        left: 30vw;
    }

    .header2__button {
        left: 79vw;
    }

    .button__right {
        right: -29px;
    }

    .section2__top {
        height: 38vw;
    }

}



@media (max-width: 1600px) {

    .section3__grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 100px;
    }

    .section3__filt {
        margin: 0 208px 93px 98px;
    }

}


@media (max-width: 1300px) {

    .header1__inner {
        margin-left: 14vw;
        gap: 12vw;
    }

    .navi__list {
        gap: 21px;
    }

    .header2__krug-spisok {
        gap: 27px;
    }

    .header2__setka {
        width: 515px;
        height: auto;
        left: 15vw;
    }

    .header2__kros {
        width: 680px;
        height: auto;
        left: 17vw;
    }

    .header2__button {
        left: calc(100vw - 265px);
    }

    .section3__filt {
        margin: 00 98px 93px 68px;
    }



}

@media (max-width: 1000px) {

    .header2__krug-spisok {
        gap: 21px;
    }

    .header2__setka {
        width: 440px;
        height: auto;
        left: 15vw;
    }

    .header2__kros {
        width: 600px;
        height: auto;
        left: 17vw;
    }

    .section2__logos {
        margin-left: 15vw;
        margin-right: 25vw;
    }

    .section3__filt {
        margin: 0 80px 93px 80px;
    }

    .column {
        display: none;
    }

    .grid {
        display: none;
    }

    .section3__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin: 0 90px;
    }

    .kros__slide {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .footer__inner {
        padding: 108px 10px 108px 10px;
    }
}

@media (max-width: 850px) {
    .section1__top {
        flex-direction: column;
        gap: 18px;
    }

    .button__left {
        top: 370px;
    }
    
    .button__right {
        top: 370px;
    }

    .section3__filt {
        flex-direction: column;
        gap: 18px;
    }
}

@media (max-width: 750px) {

    .header1__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: none;
        margin: 0 30px;
    }


    .nav__mobile {
        display: flex;
    }


    .navi {
        display: none;
        position: absolute;
        top: 30px;
        left: 80px;
        background: #fff;
        padding: 5px;
        border: 2px solid #040404;
        border-radius: 10px;
    }

    .navi__list {
        flex-direction: column;
    }

    .header2 {
        height: 704px;
    }

    .header2__button {
        top: 570px;
    }

    .header2__setka {
        width: 360px;
        height: auto;
        left: 12vw;
    }

    .header2__kros {
        width: 450px;
        height: auto;
        left: 15vw;
    }

    .section1__filters-vibor {
        left: -75px;
    }

    .section2__top {
        gap: 37px;
    }

    .section2__logos {
        margin-left: 12vw;
        margin-right: 18vw;
    }

    .kros__slide-row {
        flex-direction: column;
    }

    .kros__slide {
        flex-direction: column;
    }
}

@media (max-width: 550px) {

    .header2__krug-box {
        top: 510px;
    }

    .header2__setka {
        width: 270px;
        height: auto;
        left: 4vw;
    }

    .header2__kros {
        width: 350px;
        height: auto;
        left: 0vw;
    }

    .header2__button {
        top: 630px;
        left: calc(100vw - 190px);
        width: 160px;
        height: 44px;
        font-size: 14px;
        line-height: 2.5;
    }

    .section1__filters {
        flex-direction: column;
    }

    .button__left svg {
        width: 41px;
        height: 41px;
    }
    
    .button__right svg {
        width: 41px;
        height: 41px;
    }

    .slide__top {
        height: 217px;
    }

    .title1 {
        font-size: 18px;
        line-height: 1.2;
    }
    
    .title2 {
        font-size: 20px;
        line-height: 1.2;
    }
    
    .price {
        font-size: 14px;
        line-height: 1.2;
    }
    
    .size {
        font-size: 12px;
        line-height: 1.2;
    }


    .section1__see {
        padding: 4px 15px;
        font-size: 14px;
    }

    .section3__grid {
        margin: 0 30px;
    }

    .section3__see {
        padding: 4px 15px;
        font-size: 14px;
    }

    .footer__text {
        font-weight: 800;
        font-size: 15px;
    }
    
    
    .footer__ssilka {
        font-size: 12px;
    }
}