.footer {
    color: var(--general-bg);
    background: #AB8261;
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    gap: 40px 15px;
    justify-content: space-between;
    grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer__cal:first-child {
    margin-top: -30px;
}

.footer__logo {
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.socials {
line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}
.socials__item {
}
.socials__link {
transition: all 0.4s;
}

.socials__link:hover path {
fill: var(--accent-color);
}

.footer__cal-list {
    margin-top: -5px;
}

.footer__cal-item {
    margin-bottom: 10px;
}

.footer__cal-item:last-child {
    margin-bottom: 0;
}

.footer__cal-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
    
    .footer__cal-link::before {
        content: "";
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.6s;
    }
    
    .footer__cal-link:hover::before {
        opacity: 1;
    }

.footer__contact-list {
}
.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
margin-bottom: 0;
}

.footer__contact-link {
}
.footer__col-tel {
    margin-bottom: 47px;
}
.foolter__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    transition: 0.4s;
}

.foolter__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}